params {
  outDir = "./Results"
}

profiles {
  gcp {
    process.executor = 'google-pipelines'
    google {
        project = "genuine-sector-223709"
        zone = 'europe-west3-a'
    }
  }
  entrypoint_image {
    process.container = 'huguesfontenelle/ubuntu-with-entrypoint:latest'
  }
  default_image {
    process.container = 'ubuntu:18.04'
  }
}
